@charset "UTF-8";
/*Variables*/
.header-container {
  background-color: black;
}
.header-container h1 {
  color: burlywood;
}

/* -------- */
/* HOME ARTISTAS */

.bodies {
  background: linear-gradient(to right,#ff40a0, #795e66) ;

}

.menu-container-2 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: skyblue;
  padding: 20px 0;
}

.menu-2 {
  width: 900px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #fff;
}

.links {
  /*  */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 28px;
}

.logo-container {
  color: #5595ea;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.logo {
  width: 908px;
  height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------Fin Logos---------- */

.h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 8px;
  margin: 33px;
  margin-left: 59px;
  color: bisque;
  text-align: justify;
  text-decoration: cadetblue;
  font-size: 18px;
  letter-spacing: 3px;
}

.material {
  margin: 35px;
  margin-left: 60px;
  padding: 28px;
  font-size: 20px;
  letter-spacing: 3px;
  width: 45%;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  width: 656px;
  height: 100px;
  margin-left: 70px;
}

/* ...............____ Home Acerca YPRES____.............. */

.body-3 {
  color: blanchedalmond;
  background-color: cornflowerblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.H-1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 200;
  align-self: center;
  margin-bottom: 1rem;
}

.speaker-form-header {
  text-align: center;
  background-color: slategrey;
  border: 1px solid slateblue;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.speaker.form {
  background-color: floralwhite;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row input [type=text],
.form-row input [type=email] {
  background-color: gainsboro;
  border: 1px solid bisque;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input [type=text] :invalid .form-row input [type=email] :invalid {
  border: 2px solid goldenrod;
}

.form-row select {
  width: 100%;
  padding: 5px;
}

.form-row textarea {
  resize: none;
  min-height: 200px;
  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  background-color: royalblue;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
/*..........Fin.............*/

/*Nesting o anidamiento Home Index*/
.full-body {
  background: linear-gradient(to right, #ff40a0, #795e66);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-left: 22.5rem;
  font-weight: 250;
  padding: 24px 88px 22px 124px;
  margin-bottom: 2rem;
}

.navbar {
  border-radius: 2rem;
  border: 3px solid #8e1e92a9;
  margin-bottom: 3rem;
  color: blanchedalmond;
  top: 0%;
  z-index: 1;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  display: block;
}

.container-nav {
  height: 100px;
  transition: height 2s;
}

.container-nav:hover {
  height: 160px;
}

img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 22.5rem;
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
  overflow: hidden;
  height: auto;
}

img .img-nav-fluid {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 5rem;
}

img .img-nav .img-nav2-fluid {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 5rem;
}

h3 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 40px 0 20px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-color: #ddd;
  color: #3C3C3C;
}

/* ...........................MediaQuerie............................ */
@media only screen and (min-width: 402px) and (max-width: 960px) {
  body {
    background-color: #f3bb03f1;
  }
}
/*Cel mobile*/
@media only screen and (max-width: 965px) {
  body {
    background-color: lemonchiffon;
  }

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    width: 80%;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: -5rem;
  }

  img {
    width: 70%;
    margin-left: 5rem;
    height: auto;
  }

  .carrousel-indicators li {
    float: left;
    height: auto;
  }
}
/* ....................................................................... */
.container-carru {
  vertical-align: baseline;
}

.carousel-indicators li {
  background-clip: padding-box;
  box-sizing: content-box;
  height: auto;
}

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background: cornflowerblue;
}
/* --------Fin-------- */





/* ______________Home Inicio_________ */

.full-body2 {
  background: linear-gradient(to top,#ff40a0, #795e66) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px auto);
  gap: 1em;

  align-items: stretch;
  
}

.element1 {
  grid-column: 1/4;
  grid-row: 1/3;
}

.element2 {
  grid-column: 1/2;
}

.element3 {
  grid-column: 2/4;
}

.grid.div {
  background: skyblue;
  padding: 1em;
}

.grid div:hover {
  border: 1px solid orange;
}



.cepillo-2 {
  width: 68px;
  margin-left: 333px;
}

.paleta-2 {
  width: 66px;
  margin-left: 422px;
  margin-top: 33px;
}

.inicio-2 {
  font-size: 23px;
  background-color: lightblue;
  color: lemonchiffon;
  padding: 46px;
  margin: 4rem auto;
  letter-spacing: 4px;
  line-height: 2px;
  text-decoration: lightseagreen;
  text-align: left;
}

.h1 {
  margin: 3rem;
  padding: 56px;
  width: 58px;
  margin-left: 44px;
  font-family: "Montserrat", sans-serif;
}

/* h2/presentación */
.h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 22px;
  background-color: lightseagreen;
  text-decoration: lightgreen;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-left: 44px;
}

.menuz {
  margin-left: 44px;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  border: 3px solid blueviolet;
  text-decoration: lightcoral;
  padding-left: initial 22px;
  margin: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.span-inicio {
  margin: 32px;
  padding: 104px;
  font-size: 1rem;
}

.span-1 {
  padding: 86px;
  margin: 65px;
  font-style: oblique;
  letter-spacing: 3px;
  margin-left: 44px;
}

/* Animaciones botton */
.box {
  border-radius: 5px;
  height: 40px;
  width: 86px;
  margin: 50px auto;
}

.box1 {
  background-color: rosybrown;
  transition: all 1.5s linear;
}

.box2 {
  background-color: sienna;
  transition: all 3s ease-out;
  transform: rotate(400deg);
  transform-origin: left top;
}

box:hover {
  transform: scale(3);
  transform: rotate(90deg scale12) translateX(60px);
  background-color: tan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
