/*Variables*/
/*Nesting o anidamiento Home Index*/
/* .......navbar.......... */
.container-nav {
  height: 100px;
  transition: height 1s;
}
.container-nav .nav {
  line-height: 1.5s;
}
.container-nav .nav .nav-link {
  display: inline-block;
  border: 3px solid #8e1e92a9;
  color: #fff;
  z-index: 1111;
  text-align: center;
}

.container-nav:hover {
  height: 140px;
}

.divContenedor {
  padding-top: 5.5vh;
}

/********Carousel************/
.container-carru {
  padding-bottom: 1.8rem;
}

.carousel-item img {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  border-radius: 10px;
  object-fit: cover;
}

.carousel-caption p {
  margin-bottom: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0.5rem;
  letter-spacing: 0.5px;
  text-align: left;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  border-color: #ddd;
  color: #191919;
}

/* ...........................MediaQuerie............................ */
/*Cel mobile*/
@media only screen and (min-width: 100px) and (max-width: 609px) {
  .about-services {
    display: none;
  }

  .container-carru {
    max-height: 300px;
    padding-top: 75px;
  }

  img {
    width: 60%;
    margin-top: 5rem;
    margin-left: 5rem;
    height: auto;
  }

  footer,
.redes a {
    text-decoration: none;
    color: #b1cb08;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

  .footer {
    position: relative;
    top: 194px;
  }
}
/*______ Tablet mobile__________ */
/*__________ Mini desktop__________ */
@media only screen and (min-width: 610px) and (max-width: 767px) {
  img {
    width: 45%;
  }
}
/*  Our team */
.about-services {
  overflow-x: hidden;
  width: 98%;
  padding: 1rem;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.servicio-ind {
  width: 28%;
  text-align: center;
}

.servicio-ind img {
  width: 90%;
  margin-left: 1rem;
  object-fit: cover;
}

.servicio-ind h4 {
  margin: 10px 0;
}

.servicio-ind p {
  font-weight: 300;
  text-align: center;
}

/* -------------------- */
/*changing*/
/* INICIO */
/* h1/inicio */
* {
  font-family: "Poppins", sans-serif;
}

.contenedorPrincipal {
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "menu menu menu" "imagen1 contenido1 imagen2" "imagen1 contenido2 imagen2" "footer footer footer";
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  height: 100vh;
}

.menu {
  padding: 10px;
  grid-area: menu;
  height: 50px;
  background-color: #191919;
  color: #b1cb08;
}

.menu__list a:hover {
  color: #b1cb08;
  border-bottom: 2px solid #487c58;
}

.imagen1 {
  grid-area: imagen1;
  background-color: #191919;
  padding: 2rem;
}

.imagen2 {
  grid-area: imagen2;
  background-color: #191919;
  padding: 2rem;
}

.contenido1 {
  grid-area: contenido1;
  background-color: #191919;
  color: #b1cb08;
}

.contenido2 {
  grid-area: contenido2;
  background-color: #191919;
  color: #b1cb08;
}

footer {
  grid-area: footer;
  background-color: #191919;
}

.parrafoEstilo {
  padding: 30px;
  text-align: justify;
  align-items: flex-start;
}

.parrafoEstilo:hover {
  background-color: #913e52;
  opacity: 0.8;
}

.tituloEstilo {
  padding: 30px;
  text-decoration: line-through;
}

.menu a {
  text-decoration: none;
  color: #b1cb08;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.menu__list {
  text-align: center;
}

footer,
.redes a {
  color: #b1cb08;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.imagenEstilos {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  margin-left: 0.6rem;
  margin: 8px;
  border: 2px solid springgreen;
  object-fit: cover;
}

@media screen and (min-width: 350px) and (max-width: 770px) {
  .imagenEstilos {
    width: 160%;
    height: auto;
    padding: 20px;
    margin-left: 0.6rem;
    margin: 8px;
    border: 2px solid springgreen;
  }

  .parrafoEstilo {
    padding: 22px;
    text-align: justify;
  }

  .parrafoEstilo {
    margin: 2rem;
  }
}
@media screen and (min-width: 150px) and (max-width: 766px) {
  .contenedorPrincipal {
    height: 0;
  }

  .mi-display {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .mi-display {
    display: none;
  }

  .contenedorPrincipal {
    height: auto;
  }
}
/* HOME ARTISTAS */
h1,
h2 {
  margin: 0;
}

#facilities {
  background: rosybrown;
  padding: 30px 0px;
}

.container-titles {
  text-align: center;
  padding: 25px 0px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2rem;
}

h1 span {
  transition: 0.5s linear;
}

h1:hover span:nth-child(2) {
  margin-right: 14px;
  margin-left: 7px;
}

h1:hover span:nth-child(2)::before {
  content: " ";
}

h1:hover span:nth-child(1)::before {
  content: "'";
}

h1:hover span:nth-child(3)::after {
  content: "'";
}

h1:hover span {
  color: #000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

h2 .obras-subtitle {
  font-size: 18px;
}

.card-body {
  box-shadow: 0px 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card {
  margin: 20px 10px;
}

.card-body a {
  color: #487c58;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: #3bc777;
  border: 1px solid #191919;
}

.bodies {
  background-color: rosybrown;
}

.container-enlace-artistas {
  text-align: right;
}
.container-enlace-artistas .btn-artistas {
  outline: none;
  padding: 1rem;
  color: #000;
  border: none;
  border-radius: 1.2rem;
}
.container-enlace-artistas .btn-artistas:hover {
  text-decoration: underline;
  color: #3bc777;
}

.card-img-top {
  margin: 1rem;
  width: 90%;
  border: solid 2px #191919;
}

@media only screen and (min-width: 300px) and (max-width: 500) {
  #facilities h1 {
    font-size: 25px;
  }
}
/* -----__---Fin Artistas--__-------- */
/* __--Acerca de Ypres--__ */
.h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 8px;
  margin: 33px;
  margin-left: 59px;
  color: bisque;
  text-align: justify;
  text-decoration: cadetblue;
  font-size: 18px;
  letter-spacing: 3px;
}

.ypresLogo {
  width: 100%;
}

.body-3 {
  color: aliceblue;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  align-items: center;
  width: 100%;
}

.container-speaker-form {
  padding-bottom: 2em;
}

.header-ypres {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-ypres .enlace__ypres {
  width: 3rem;
  margin-left: 2rem;
}

.h-1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 250;
  text-align: center;
}

.h1-1 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0.6rem;
  font-family: "uuc", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  justify-content: center;
  color: #191919;
}

/*...... Formulario........ */
.speaker-form {
  background-color: gainsboro;
  color: black;
  width: 74%;
  padding: 50px;
  margin: 0 0 40px 0;
}
.speaker-form .form-row input [type=text],
.speaker-form .form-row input [type=email] {
  border: 1px solid bisque;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.speaker-form .form-row select {
  width: 100%;
  padding: 5px;
}
.speaker-form .form-row textarea {
  resize: none;
  min-height: 200px;
  width: 100%;
}
.speaker-form .form-row button {
  font-size: 16px;
  font-weight: bold;
  background-color: royalblue;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.speaker-form-header {
  text-align: center;
  padding-top: 2em;
  background-color: slategrey;
  border: 1px solid slateblue;
  border-radius: 3px;
  padding: 42px 100px;
}

.form-row input [type=text] :invalid .form-row input [type=email] :invalid {
  border: 2px solid goldenrod;
}

.pypres {
  text-align: center;
  margin-top: 45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyIndex {
  background: linear-gradient(to right, #1e5737, #487c58);
}

ul {
  list-style-type: none;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
