@charset "UTF-8";
/*Variables*/
.header-container {
  background-color: black;
}
.header-container h1 {
  color: burlywood;
}

/* -------- */
/* HOME ARTISTAS */
.menu-container-2 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: skyblue;
  padding: 20px 0;
}

.menu-2 {
  width: 900px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #fff;
}

.links {
  /*  */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 28px;
}

.logo-container {
  color: #5595ea;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.logo {
  width: 908px;
  height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------ */
/* --------- */
.h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 8px;
  margin: 33px;
  margin-left: 59px;
  color: bisque;
  text-align: justify;
  text-decoration: cadetblue;
  font-size: 18px;
  letter-spacing: 3px;
}

.material {
  margin: 35px;
  margin-left: 60px;
  padding: 28px;
  font-size: 20px;
  letter-spacing: 3px;
  width: 45%;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  width: 656px;
  height: 100px;
  margin-left: 70px;
}

.body-3 {
  color: blanchedalmond;
  background-color: cornflowerblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: slategrey;
  border: 1px solid slateblue;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.speaker.form {
  background-color: floralwhite;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row input [type=text],
.form-row input [type=email] {
  background-color: gainsboro;
  border: 1px solid bisque;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input [type=text] :invalid .form-row input [type=email] :invalid {
  border: 2px solid goldenrod;
}

.form-row select {
  width: 100%;
  padding: 5px;
}

.form-row textarea {
  resize: none;
  min-height: 200px;
  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  background-color: royalblue;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

/*.......................*/
/*Nesting o anidamiento*/
.full-body {
  background: linear-gradient(to top, #ff40a0, #ffe0e9);
  background-repeat: no-repeat;
  background-position: center;
}
.full-body h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-left: 25rem;
  font-weight: 200;
  padding: 24px 88px 22px 124px;
  margin-bottom: 2rem;
}
.full-body h1 nav {
  color: #fff999;
  font-size: 1.3rem;
  background-color: peachpuff;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  border: 3px solid sienna;
  word-spacing: 7px;
  width: 11rem;
  padding: 2px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.full-body h1 nav .nav-pills .nav-link {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 402px) and (max-width: 960px) {
  body {
    background-color: #2ECC71;
  }
}
.img-nav {
  margin-left: 15rem;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 3rem;
}
.img-nav .img-nav2 {
  margin-left: 15rem;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 3rem;
}

.carousel-indicators li {
  background-clip: padding-box;
  box-sizing: content-box;
  width: 32px;
  height: 4px;
  margin-bottom: 6rem;
}

/* INICIO */
/* h1/inicio */
.cepillo-2 {
  width: 68px;
  margin-left: 333px;
}

.paleta-2 {
  width: 66px;
  margin-left: 422px;
  margin-top: 33px;
}

.inicio-2 {
  font-size: 23px;
  background-color: lightblue;
  color: lemonchiffon;
  padding: 46px;
  margin: 4rem auto;
  letter-spacing: 4px;
  line-height: 2px;
  text-decoration: lightseagreen;
  text-align: left;
}

h2, h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 3rem;
  margin-left: 44px;
  background-color: burlywood;
  text-decoration: solid;
  text-align: initial;
  display: inline;
  padding-left: 62px;
  padding-right: 68px;
}

.h1 {
  margin: 3rem;
  padding: 56px;
  width: 58px;
  margin-left: 44px;
  font-family: "Montserrat", sans-serif;
}

/* h2/presentación */
.h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 22px;
  background-color: lightseagreen;
  text-decoration: lightgreen;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-left: 44px;
}

.menuz {
  margin-left: 44px;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  border: 3px solid blueviolet;
  text-decoration: lightcoral;
  padding-left: initial 22px;
  margin: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.span-inicio {
  margin: 32px;
  padding: 104px;
  font-size: 1rem;
}

.span-1 {
  padding: 86px;
  margin: 65px;
  font-style: oblique;
  letter-spacing: 3px;
  margin-left: 44px;
}

/* Animaciones botton */
.box {
  border-radius: 5px;
  height: 40px;
  width: 86px;
  margin: 50px auto;
}

.box1 {
  background-color: rosybrown;
  transition: all 1.5s linear;
}

.box2 {
  background-color: sienna;
  transition: all 3s ease-out;
  transform: rotate(400deg);
  transform-origin: left top;
}

box:hover {
  transform: scale(3);
  transform: rotate(90deg scale12) translateX(60px);
  background-color: tan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
