/*Variables*/
.header-container {
  background-color: black;
}
.header-container h1 {
  color: burlywood;
}

/* -------- */
/* HOME ARTISTAS */

.bodies {
  background: linear-gradient(to right,#3d7c5d, #387a4efa) ;
  width: 100%;

}


/* --------Fin Logos---------- */

.h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 8px;
  margin: 33px;
  margin-left: 59px;
  color: bisque;
  text-align: justify;
  text-decoration: cadetblue;
  font-size: 18px;
  letter-spacing: 3px;
}

.material {
  margin: 35px;
  margin-left: 60px;
  padding: 28px;
  font-size: 20px;
  letter-spacing: 3px;
  width: 45%;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  width: 656px;
  height: 100px;
  margin-left: 70px;
}