/* INICIO */
/* h1/inicio */

.body2 {
  background: linear-gradient(to top,#ff40a0, #795e66) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

 }

 .cepillo-2 {
  width: 68px;
  margin-left: 333px;
}

.paleta-2 {
width: 66px;
margin-left: 422px;
margin-top: 33px;
}



.contein {
  height: 100vh;
  width: 100%;
  background: plum;
  display: grid;
  grid: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  

  grid-template-areas: 
  "header header header header"
  "main main main side"
  "footer footer footer";
}

.header{
 background: blanchedalmond;
 text-align: center;
 grid-column: span 2;
 grid-area: header;
}

.item2{
 background: blueviolet;
 text-align: center;
 grid-column: span 3;
}

.item3{
 background: coral;
 text-align: center;
}

.item4{
 background: slateblue;
 text-align: center;

}

.item5{
 background: mediumslateblue;
 text-align: center;
}

@media screen and (max-width:600px) {

 .contein {
    grid: repeat (3,1fr);
    grid-template-areas: 
    "header header menú lat"
    "main main menu lat"
    "footer footer menu lat" ;
 }

 }
