/*Nesting o anidamiento Home Index*/
.full-body {
  background: linear-gradient(to right, #1e5737, #487c58);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-left: 22.5rem;
  font-weight: 250;
  padding: 24px 88px 22px 124px;
  margin-bottom: 2rem;
}

/* .......navbar.......... */
.nav-pills .nav-link {
  border: 3px solid #8e1e92a9;
  margin-bottom: 3rem;
  color: blanchedalmond;
  top: 0%;
  z-index: 1111;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

nav {
  margin-top: -4.5rem;
}

.container-nav {
  height: 100px;
  transition: height 1s;
}

.container-nav:hover {
  height: 140px;
}

img {
  margin-top: 3rem;
  margin-left: 29.5rem;
  margin-bottom: 5rem;
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
  overflow: hidden;
  height: auto;
}

.carrousel {
  margin: 0 auto;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 40px 0 20px 5px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  border-color: #ddd;
  color: #191919;
}

/* ...........................MediaQuerie............................ */
/*Cel mobile*/
@media only screen and (min-width:100px) and (max-width: 400px) {
  
  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: -5rem;
  }

  img {
    width: 60%;
    margin-top: 5rem;
    margin-left: 5rem;
    height: auto;
}


  .carrousel-indicators li {
    float: left;
    height: auto;
  }

  
}

/*______ Tablet mobile__________ */
@media only screen and (min-width: 400px) and (max-width:585px) {
  

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: -5rem;
  }

  img {
    width: 50%;
    margin-top: 6rem;
    margin-left: 7rem;
    height: auto;
}
  .carrousel-indicators li {
    float: left;
    height: auto;
  }


}
@media only screen and (min-width: 586px) and (max-width:766px) {

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: -5rem;
  }

  img {
    width: 50%;
    margin-top: 6rem;
    margin-left: 7rem;
    height: auto;
}
  .carrousel-indicators li {
    float: left;
    height: auto;
  }

}
/*__________ Mini desktop__________ */
@media only screen and (min-width: 766px) and (max-width:1200px) {

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-left: -5rem;
  }

  img {
    width: 36%;
    margin-top: 3rem;
    margin-left: 19rem;
    height: auto;
}
  .carrousel-indicators li {
    float: left;
    height: auto;
  }

}


/* ....................................................................... */

.container-carru {
  vertical-align: baseline;
  margin: 0 auto;
}

.carousel-indicators li {
  background-clip: padding-box;
  box-sizing: content-box;
  height: auto;
}







 

 