
.body-3 {
  color: blanchedalmond;
  background-color: rosybrown;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 250;
  padding: 24px 71px 18px 0;
  margin-bottom: 2rem;
  float: left;
  margin-left: 4rem;
}

.h1-1 {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
   margin-left: 1.3rem;
  font-family: "uuc", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  padding: 16px 60px 22px 10px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: #3C3C3C;
}




.speaker-form-header {
  text-align: center;
  background-color: slategrey;
  border: 1px solid slateblue;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.speaker.form {
  background-color: floralwhite;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row input [type=text],
.form-row input [type=email] {
  background-color: gainsboro;
  border: 1px solid bisque;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input [type=text] :invalid .form-row input [type=email] :invalid {
  border: 2px solid goldenrod;
}

.form-row select {
  width: 100%;
  padding: 5px;
}

.form-row textarea {
  resize: none;
  min-height: 200px;
  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  background-color: royalblue;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
/*..........Fin.............*/

/*Nesting o anidamiento Home Index*/

.full-body {

  background: linear-gradient(to right,#ff40a0, #795e66) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}



h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-left: 22.5rem;
  font-weight: 250;
  padding: 24px 88px 22px 124px;
  margin-bottom: 2rem;
}



.nav-pills .nav-link {
  border: 3px solid #8e1e92a9;
  margin-bottom: 3rem;
  color: blanchedalmond;
  top: 0%;
  z-index: 1111;
  margin-bottom: 2rem;
  margin-top: 1rem;
  
  
}

.container-nav{
  height: 100px;
  transition: height 1s;
}

.container-nav:hover {
  height: 140px; 
}


img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 21rem;
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
  overflow: hidden;
  height: auto;
  
}
img .img-nav-fluid {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 5rem;
}
img .img-nav .img-nav2-fluid {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 5rem;
}



h3 {
  
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 40px 0 20px 5px;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    border-color: #ddd;
    color: #3C3C3C;
}

/* ...........................MediaQuerie............................ */
@media only screen and (min-width: 402px) and (max-width: 960px) {
  img {
    width: 70%;
    margin-top: 4rem;
    margin-left: 3rem;
    height: auto;
  }

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    width: 80%;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
    
}

.carrousel-indicators li {
  float: left;
  height: auto;
}

}



/*Cel mobile*/
@media only screen and (max-width: 965px)  {
  body {
    background-color: lemonchiffon;
  }

  .nav-pills .nav-link {
    margin-block-start: -1.2rem;
    width: 80%;
    display: flex;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
    
}

  h1{
    margin-left: -5rem;
  }

  
  img {
    width: 70%;
    margin-top: 4rem;
    margin-left: 3rem;
    height: auto;
  }

 .carrousel-indicators li {
   float: left;
   height: auto;
 }

}
/* ....................................................................... */

.container-carru {
  vertical-align: baseline;
  
}


.carousel-indicators li {
  background-clip: padding-box;
  box-sizing: content-box;
  height: auto;
 
}

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background: cornflowerblue;
}





 

 