/*Variables*/


$bg-index: black ;
$h1: white ;
$font-tamaño: 22px ;

$font-family:  'Montserrat', sans-serif; 
$font-family: 'Times New Roman', Times, serif;

  $background-repeat: no-repeat;
  $background-position: center;
  $background-size: cover;
  $background-attachment: fixed;
  
  
  



